# Dependências
/node_modules
.pnp
.pnp.js

# Diretório de Build
/dist
/dist-ssr

# Diretório gerado pela instalação global/local
.npm
.yarn

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diretórios e arquivos de IDEs (ex: VS Code)
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variáveis de ambiente locais
.env
.env.*.local

# Arquivos do sistema operacional
.DS_Store
Thumbs.db